<a href="https://colab.research.google.com/github/MariaPazGallitrico/TelecomX--Challenge2/blob/main/TelecomX-Challenge2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EXTRACCIN

In [124]:
import requests
import pandas as pd
import numpy as np
from pandas import json_normalize
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# --- 1) Cargar y aplanar JSON ---
url = "https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json"
data_json = requests.get(url).json()
df = json_normalize(data_json)

In [125]:
# --- 2) Limpiar nombres de columnas
df.columns = df.columns.str.replace(".", "_").str.strip()

In [126]:
# Convertir a DataFrame
from pandas import json_normalize

df = json_normalize(data_json)

# Vista inicial
print(df.shape)
df.head()

(7267, 21)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

Eliminar ID

In [130]:
if "customerID" in df.columns:
    df = df.drop(columns=["customerID"])

In [131]:
print(df.shape)
df.head()

(7267, 20)

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

Limpiar datos

In [132]:
df["Churn"] = df["Churn"].replace("", np.nan)

In [133]:
df = df[df["Churn"].isin(["Yes", "No"])].copy()

In [134]:
df["Churn"] = df["Churn"].map({"Yes": 1, "No": 0})

Separo X-Y

In [135]:
X = df.drop(columns=["Churn"])
y = df["Churn"]

One-hot encoding

In [145]:
X_encoded = pd.get_dummies(X, drop_first=True)

Separar

In [138]:
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.3, random_state=42, stratify=y)

In [139]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Verificar proporci贸n

In [147]:

(y.value_counts(normalize=True) * 100).round(2)

Churn
0    73.46
1    26.54
Name: proportion, dtype: float64

Estandarizaci贸n

In [150]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

**Verificar que funciono la estandarizaci贸n**
Dado que se utilizar谩 un modelo basado en regresi贸n log铆stica, se aplic贸 estandarizaci贸n a las variables mediante StandardScaler, ajustando el escalador 煤nicamente con el conjunto de entrenamiento para evitar data leakage.

In [151]:
import numpy as np

print(np.mean(X_train_scaled, axis=0)[:5])
print(np.std(X_train_scaled, axis=0)[:5])

[ 1.40523158e-17 -8.93583157e-17 -1.69708737e-16 -3.45903157e-17
 -3.24284210e-17]
[1. 1. 1. 1. 1.]

In [152]:
df_model = pd.concat([X_encoded, y], axis=1)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

corr_matrix = df_model.corr()

plt.figure(figsize=(12,10))
sns.heatmap(corr_matrix, cmap="coolwarm", center=0)
plt.title("Matriz de Correlaci贸n")
plt.show()